<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v5kf.sdkdemo" >

    <!-- 添加必需权限 -->
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:name="com.v5kf.sdkdemo.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- V5KF SDK Start -->
        <provider
            android:name="com.v5kf.client.lib.V5FileProvider"
            android:authorities="com.v5kf.client.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/v5_file_paths">
            </meta-data>
        </provider>
        <activity
            android:name="com.v5kf.client.ui.ClientChatActivity"
            android:label="@string/v5_chat_title"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >

            <!-- intent-filter配置接收消息点击后跳转的Activity -->
            <intent-filter>
                <action android:name="com.v5kf.android.intent.notification10000"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <service
            android:name="com.v5kf.client.lib.V5ClientService" >
        </service>

        <activity
            android:name="com.v5kf.client.ui.WebViewActivity" >
        </activity>

        <activity
            android:theme="@style/v5_transparent_activity"
            android:name="com.v5kf.client.ui.ShowImageActivity" >
        </activity>

        <!-- V5智能客服SDK站点配置 -->
        <!--<meta-data android:value="10000" android:name="V5_SITE" />-->
		<!--<meta-data android:value="27100800d9e0" android:name="V5_APPID" />-->

    </application>

</manifest>
